body {
    font-family: 'Schoolbell', cursive;
    background: azure;
}

.header_div {
    background: lightgoldenrodyellow;
    color: darkcyan;
}

.header_div p{
    font-family: 'Schoolbell', cursive;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family:'roboto', sans-serif ;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: burlywood;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: lightgoldenrodyellow;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px darkgray;
}


